<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- SQL Server Connection String-->
		<add name="ssmsConnection"
			connectionString="Data Source=EPINHYDW130D\MSSQLSERVER01;Initial Catalog=EmpDatabase;Integrated Security=true"
			providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>